<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this user", customer %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_customer_path %>