<!DOCTYPE html>  
<html>  
<head>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
</head>  
<body>  
  <table id="designation">
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
      </tr>
    </thead>

  </table>
</body>  
<script type="text/javascript">
jQuery('#designation').DataTable({
    "processing": true,
    "serverSide": true,
    "ordering": true,
    "searching": true,
    // "order": [[0, 'desc']],
    "ajax": {
      "data": function(){
        var info = jQuery('#designation').DataTable().page.info();
        jQuery('#designation').DataTable().ajax.url(
          "http://localhost:3000/designations?page="+(info.page + 1)
        );
     },
      headers: { 'Authorization': 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJleHAiOjE2ODAzMjAxNTh9.6qQHAi-3YJC1G4diaA9F8cexXgIv-fkpVO6PKmcniEw' },
      "type": "GET",  
      "dataType": "JSON"
    },
    "dataSrc": "",
    "columns": [
        { "data": "name" },
        { "data": "code" }
      ]
  });

</script>  
</html>